* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 40px 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    margin-bottom: 30px;
}

.add-task-form {
    display: flex;
    gap: 10px; /* Отступы между элементами */
    margin-bottom: 40px;
}

#taskInput {
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.category-select {
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}


.add-button {
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer; /* Курсор при наведении */

    transition: 0.5s ease-in-out;
}

.add-button:hover {
    background-color: #555;
    margin-left: 20px;
}

.task-input {
    border: none;
    border-radius: 7px;
    padding: 20px;
    width: 400px;
    transition: 0.5s ease-in-out;
}

.task-input:focus {
    background-color: #f5ffcc;
}





/* Style for tasks */
.category-title {
    font-size: 16px;
    font-weight: 700;
    color: #d4a574;
    letter-spacing: 1px;
    margin: 30px 0 15px 0;
}

.task-item {
    display: flex;
    background-color: white;
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 10px;
    align-items: center;
    gap: 15px;
    justify-content: space-around;
}

.task-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.task-text {
    font-size: 17px;
}

.task-text.completed {
    text-decoration: line-through;
    color: #999;
}

.delete-button {
    background-color: #ff4444;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #cc0000;
}

.hide {
    display: none;
}

.priority-text {
    font-size: 12px;
    color: #666;
    margin-left: 10px;
}

.priority-low {
    background-color: rgb(209, 255, 209);
}

.priority-medium {
    background-color: rgb(255, 238, 208);
}
.priority-high {
    background-color: rgb(255, 209, 209);
}


@media (max-width: 834px) {
    .add-task-form {
        flex-direction: column;
    }
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 100px;
    border-radius: 8px;
    position: relative;
}
.modal-close-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background:none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 20px;
}